{% extends 'baseAdmin.html.twig' %}

{% block container %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/plugins.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <!-- Cusom css -->
    <link rel="stylesheet" href="css/custom.css">
    <h1>Echanges list</h1>

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('echange_new') }}">Create a new echange</a>
        </li>
    </ul>
    <ul>
        <li>
            <a class="btn btn-icon btn-pill btn-danger" href="{{ path('locaux_new') }}">Create a new locaux</a>
        </li>
    </ul>
    <div class="d-flex">

        <div class="content p-4">
            <div class="card mb-4">
                <div class="card-body">
                    <table id="example" class="table table-hover" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th class="product-thumbnail">Livre Proposé</th>
                            <th class="product-name">Livre Demandé</th>
                            <th class="product-price">Etat des Livres</th>
                            <th class="product-quantity">Description</th>
                            <th class="product-remove">Actions</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for echange in echanges %}
                            <tr>
                                <td><a href="{{ path('echange_show', { 'idech': echange.idech }) }}">{{ echange.idprop }}</a></td>
                                <td>{{ echange.iddem }}</td>
                                <td>{{ echange.stat }}</td>
                                <td>{{ echange.descr }}</td>
                                <td>
                                    <a href="{{ path('echange_edit', { 'idech': echange.idech }) }}" class="btn btn-icon btn-pill btn-primary" data-toggle="tooltip" title="Edit"><i class="fa fa-fw fa-edit"></i></a>
                                    <a href="{{ path('echange_supp', { 'idech': echange.idech }) }}" class="btn btn-icon btn-pill btn-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-fw fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://bootadmin.net/js/jquery.min.js"></script>
    <script src="https://bootadmin.net/js/bootstrap.bundle.min.js"></script>
    <script src="https://bootadmin.net/js/datatables.min.js"></script>
    <script src="https://bootadmin.net/js/moment.min.js"></script>
    <script src="https://bootadmin.net/js/fullcalendar.min.js"></script>
    <script src="https://bootadmin.net/js/bootadmin.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118868344-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-118868344-1');
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4097235499795154",
            enable_page_level_ads: true
        });
    </script>

{% endblock %}
