<table>
    <tr>
        <td> Livre Propose </td>
        <td>{{ echange.idprop }}</td>
    </tr>
    <tr>
        <td> Livre demande </td>
        <td>{{ echange.iddem }}</td>
    </tr>
    <tr>
        <td> Etat des livre </td>
        <td>{{ echange.stat }}</td>
    </tr>
    <tr>
        <td> description </td>
        <td>{{ echange.descr }}</td>
    </tr>
    <tr>
        <td> Num de contact </td>
        <td>{{ echange.numcontact }}</td>
    </tr>
    <tr>
        <td> Num de contact </td>
        <td>{{ echange.lieuech }}</td>
    </tr>
</table>